body,html
{
    margin:0;
    text-align: center;
    background-color: #ffe3a9;;
}

header
{
    background-color: #14365d;
    color: aliceblue;
    padding: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.container
{
    display:flex;
    flex-direction:column;
    margin: auto;
    height: 70vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
}

#bill-amount-label
{
    padding: 0.5rem;
}

#bill-amount
{
    min-width:200px;
    max-width: 225px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#next-button
{
    max-width: 200px;
    margin-bottom: 1rem;
}

#cash-given-label
{
    padding: 0.5rem;
}

#cash-given
{
    min-width: 200px;
    max-width: 225px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#Check
{
    max-width: 200px;
    margin-bottom: 1rem;
}

#error-msg
{
    padding: 1rem;
    margin-bottom: 1rem;
}

table,th,td
{
    border: 1px solid black;
    margin: auto;
    font-size: 1.25rem;
}

table
{
    table-layout: fixed;
}

tr,td
{
    min-width:20px;
}